input,
textarea {
  font-family: "Microsoft YaHei";
  border: 0;
  text-indent: 1em;
}

input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
}

input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input[type="text"]::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]:-moz-placeholder,
select:-moz-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]::-moz-placeholder,
select::-moz-placeholder {
  color: #999999;
  font-size: inherit;
}
input[type="text"]:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #999999;
  font-size: inherit;
}

body,
div,
form,
ul,
li,
a {
  box-sizing: border-box;
}

.space-between, .header, .course ul, .vs .vs-cont, .footer-fixed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  line-height: 1.5;
}

.title span, .authority li .select span, .gain li i, .campus .c-cont .c-r .r-name i {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

a:hover {
  color: #2c7fdc;
}

.wrap {
  width: 10rem;
  margin: 0 auto;
  font-size: 0.32rem;
  color: #444444;
}

.header {
  height: 1.1733333333rem;
  padding: 0 0.32rem;
}
.header .h-l .logo {
  width: 2.2533333333rem;
  height: 0.72rem;
}
.header .h-r {
  display: flex;
  line-height: 0.4266666667rem;
}
.header .h-r .txt {
  padding-left: 0.5866666667rem;
  color: #666666;
  background: url(../images/tel.png) no-repeat;
  background-size: auto 100%;
}
.header .h-r .num {
  font-size: 0.4rem;
  color: #ff7336;
}

.btn {
  display: block;
  width: 5.7066666667rem;
  height: 0.9066666667rem;
  margin: 0 auto;
  line-height: 0.9066666667rem;
  background-image: linear-gradient(135deg, #ffac0c 0%, #ff7336 100%), linear-gradient(#4c9bf5, #4c9bf5);
  background-blend-mode: normal, normal;
  box-shadow: 0px 0.0533333333rem 0.1066666667rem 0px rgba(240, 86, 48, 0.34);
  border-radius: 0.4rem;
  font-size: 0.3733333333rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.banner .a {
  display: block;
  width: 100%;
  height: 100%;
}

.sign-in input {
  width: 100%;
  height: 0.8533333333rem;
  margin-bottom: 0.4rem;
  font-size: 0.3466666667rem;
  line-height: 0.8533333333rem;
  border-radius: 0.0533333333rem;
  border: solid 1px #ededed;
  text-align: center;
  text-indent: 0;
}
.sign-in .btn {
  border: 0;
  font-size: 0.3733333333rem;
}
.sign-in .hint {
  background: url(../images/line.png) center;
  background-repeat: repeat-x;
  text-align: center;
}
.sign-in .hint span {
  background: #fff;
  padding: 0 0.2666666667rem;
  color: #999999;
}

.get {
  position: relative;
  height: 6.7466666667rem;
}
.get .sign-in {
  position: absolute;
  top: -0.8533333333rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 9.36rem;
  height: 100%;
  padding: 0 0.5333333333rem;
  box-shadow: 0px 0.08rem 0.36rem 0px rgba(169, 169, 169, 0.15);
  text-align: center;
  background: url(../images/bg_1.png) no-repeat;
  background-size: 100% auto;
}
.get .sign-in .b-free {
  font-size: 0.3466666667rem;
  line-height: 0.96rem;
  color: #ee5310;
}
.get .sign-in .b-title {
  padding: 0.3733333333rem 0 0.4rem;
  font-size: 0.48rem;
  line-height: 0.48rem;
  font-weight: bold;
}

.title {
  font-size: 0.6133333333rem;
  line-height: 0.64rem;
  font-weight: bold;
  text-align: center;
}
.title span {
  padding: 0 21px 0 52px;
  background: url(../images/t-l.png) no-repeat left top, url(../images/t-r.png) no-repeat right bottom;
}
.title strong {
  color: #2c7fdc;
}

.subtitle {
  padding-top: 0.1866666667rem;
  margin-bottom: 0.5333333333rem;
  color: #666666;
  text-align: center;
}

.authority {
  padding: 0.6666666667rem 0.32rem;
}
.authority .a-cont {
  padding: 0.4rem;
  border: solid 0.0533333333rem #cce4ff;
}
.authority ul {
  padding-bottom: 17px;
}
.authority li {
  margin-bottom: 0.4rem;
  font-size: 0.3466666667rem;
}
.authority li .select {
  height: 0.6666666667rem;
  margin-top: 0.3733333333rem;
  line-height: 0.6666666667rem;
}
.authority li .select span {
  width: 1.6133333333rem;
  height: 100%;
  margin-right: 0.4rem;
  background-color: #f5f5f5;
  border-radius: 0.3333333333rem;
  text-align: center;
  cursor: pointer;
}
.authority li .select span.on {
  background: #2c7fdc;
  color: #fff;
}
.authority .hint {
  line-height: 0.48rem;
  color: #888888;
  text-align: center;
}
.authority .hint span {
  color: #ff7336;
}

.gain {
  padding: 0.5333333333rem 0;
  background: url(../images/bg_2.png) no-repeat;
  background-size: 100% auto;
}
.gain .g-cont {
  display: flex;
  justify-content: flex-end;
}
.gain li {
  padding: 0 0.1333333333rem 0 0.32rem;
  height: 0.8266666667rem;
  margin-bottom: 0.2666666667rem;
  font-size: 0.2933333333rem;
  line-height: 0.8266666667rem;
  background-color: #ffffff;
  box-shadow: 0px 0.0533333333rem 0.1066666667rem 0px rgba(44, 127, 220, 0.05), inset 0px 0px 8px 0px rgba(241, 248, 255, 0.66);
  border-radius: 0.08rem;
  color: #666666;
}
.gain li i {
  width: 0.3733333333rem;
  height: 0.3733333333rem;
  margin-right: 0.2933333333rem;
  background: url(../images/icon_1.png) no-repeat left;
  background-size: 100% 100%;
  border-radius: 50%;
  box-shadow: 0px 0.0533333333rem 0.1066666667rem 0px rgba(44, 127, 220, 0.34);
  vertical-align: text-top;
}
.gain li span {
  font-size: 0.3466666667rem;
  font-weight: bold;
  color: #2c7fdc;
}
.gain li:nth-of-type(2n + 1) {
  margin-right: 0.5333333333rem;
}
.gain li:nth-of-type(2n) {
  margin: 0 0.1333333333rem 0.2666666667rem 0.4rem;
}

.course {
  padding: 0.8rem 0.32rem;
}
.course ul {
  padding-top: 0.5333333333rem;
}
.course li {
  width: 4.48rem;
  height: 4.9066666667rem;
  margin-bottom: 0.4rem;
  text-align: center;
}
.course li img {
  border-radius: 0.08rem 0.08rem 0px 0px;
}
.course li .c-name {
  font-size: 0.3733333333rem;
  line-height: 0.7733333333rem;
  font-weight: bold;
}
.course li p {
  padding: 0 0.2666666667rem;
  color: #888888;
}

.advantage {
  padding: 0.5333333333rem 0.32rem;
  background-color: #f1f8ff;
}
.advantage .swiper-container {
  padding-bottom: 0.72rem;
}
.advantage .swiper-container .swiper-pagination {
  bottom: 0;
}
.advantage .swiper-container .swiper-pagination-bullet {
  border: solid 1px #4c9bf5;
  background-color: #ffffff;
  opacity: 1;
}
.advantage .swiper-container .swiper-pagination-bullet-active {
  background-color: #2c7fdc;
}
.advantage .swiper-container .swiper-button-prev,
.advantage .swiper-container .swiper-button-next {
  width: 0.72rem;
  height: 0.72rem;
}
.advantage .swiper-container .swiper-button-prev {
  left: 0;
  background: url(../images/prev.png);
  background-size: 100% 100%;
}
.advantage .swiper-container .swiper-button-next {
  right: 0;
  background: url(../images/next.png);
  background-size: 100% 100%;
}
.advantage .swiper-slide {
  width: 4.48rem;
  background-color: #ffffff;
  border-radius: 0.08rem 0.08rem 0px 0px;
}
.advantage .c-logo {
  width: 100%;
  height: 1.8666666667rem;
}
.advantage .c-logo img {
  width: 100%;
  height: 100%;
}
.advantage .c-detail {
  height: 4.9333333333rem;
  padding: 0.2133333333rem 0.2666666667rem 0.2933333333rem;
  background: #2c7fdc;
  border-radius: 0px 0px 0.08rem 0.08rem;
}
.advantage .c-detail .d-name {
  margin-bottom: 0.2666666667rem;
  font-size: 0.3733333333rem;
  line-height: 0.3733333333rem;
  color: #ffffff;
  text-align: center;
}
.advantage .c-detail p {
  font-size: 0.2933333333rem;
  color: #bcd9fa;
  text-align: justify;
}

.vs {
  padding: 0.6666666667rem 0.2666666667rem;
}
.vs .vs-cont {
  margin-bottom: 0.5333333333rem;
}
.vs .vs-cont .cont-col .col-top {
  margin-bottom: 0.8rem;
  font-size: 0.48rem;
  line-height: 0.52rem;
  font-weight: bold;
  color: #666666;
}
.vs .vs-cont .cont-col .col-top img {
  display: block;
  margin: 0 auto;
}
.vs .vs-cont .cont-col ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  height: 9.2533333333rem;
}
.vs .vs-cont .cont-col li {
  position: relative;
  width: 4.0533333333rem;
  padding: 0.2rem 0.0533333333rem;
  margin: 0.1333333333rem 0;
  line-height: 0.3733333333rem;
  background-color: #f6f6f6;
  border-radius: 0.08rem;
  font-size: 0.2666666667rem;
  color: #666666;
}
.vs .vs-cont .cont-col li::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 0;
  height: 0;
  border-top: 0.1066666667rem solid transparent;
  border-bottom: 0.1066666667rem solid transparent;
}
.vs .vs-cont .cont-col li.long {
  font-size: 0.24rem;
  line-height: 0.32rem;
}
.vs .vs-cont .cont-col:nth-of-type(1) .col-top {
  color: #2c7fdc;
  text-align: right;
}
.vs .vs-cont .cont-col:nth-of-type(1) li {
  flex: 1;
  background-color: #e6f2ff;
}
.vs .vs-cont .cont-col:nth-of-type(1) li::before {
  right: -8px;
  border-left: 8px solid #e6f2ff;
}
.vs .vs-cont .cont-col:nth-of-type(2) {
  width: 1.0133333333rem;
  margin: 0 0.1333333333rem;
}
.vs .vs-cont .cont-col:nth-of-type(2) ul {
  justify-content: space-around;
}
.vs .vs-cont .cont-col:nth-of-type(2) li {
  width: 100%;
  height: 1.0133333333rem;
  line-height: 1.0133333333rem;
  padding: 0;
  font-size: 0.32rem;
  background-image: linear-gradient(135deg, #65abfa 0%, #2c7fdc 100%), linear-gradient(#ededed, #ededed);
  background-blend-mode: normal, normal;
  box-shadow: 0px 0.0666666667rem 0.1333333333rem 0px rgba(44, 127, 220, 0.17);
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.vs .vs-cont .cont-col:nth-of-type(2) li::before {
  display: none;
}
.vs .vs-cont .cont-col:nth-of-type(3) li::before {
  left: -0.1066666667rem;
  border-right: 0.1066666667rem solid #f6f6f6;
}

.campus {
  padding: 0.5333333333rem 0.32rem 0.6666666667rem;
  background-color: #f1f8ff;
}
.campus .c-cont {
  padding-top: 0.6933333333rem;
}
.campus .c-cont .c-l {
  border-radius: 0.1333333333rem;
}
.campus .c-cont .c-r {
  padding: 0 0.2666666667rem 0.2666666667rem;
  background: url(../images/bg_3.png);
  background-size: 100% 100%;
}
.campus .c-cont .c-r .r-name {
  padding: 0.4rem 0;
  font-size: 0.48rem;
  line-height: 0.48rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
.campus .c-cont .c-r .r-name i {
  width: 0.52rem;
  height: 0.32rem;
  margin: 0 0.08rem;
  background: url(../images/l_1.png);
  background-size: 100% 100%;
}
.campus .c-cont .c-r .r-name i:nth-of-type(2) {
  background: url(../images/r_1.png);
  background-size: 100% 100%;
}
.campus .c-cont .c-r .sign-in {
  padding: 0.4rem;
  font-size: 0.3466666667rem;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0.1333333333rem 0px rgba(44, 127, 220, 0.27);
  border-radius: 0.1333333333rem;
}
.campus .c-cont .c-r .sign-in select,
.campus .c-cont .c-r .sign-in input {
  height: 0.9333333333rem;
  margin-bottom: 0.4rem;
  line-height: 0.9333333333rem;
  background-color: #ffffff;
  border-radius: 0.0533333333rem;
  border: solid 1px #ededed;
  text-align: center;
}
.campus .c-cont .c-r .sign-in select {
  float: left;
  width: 3.8666666667rem;
  padding: 0 1em;
  background: url(../images/sel.png) no-repeat 80%;
}
.campus .c-cont .c-r .sign-in select:nth-of-type(2) {
  float: right;
}
.campus .c-cont .c-r .sign-in input {
  width: 100%;
}
.campus .c-cont .c-r .sign-in .btn {
  border: 0;
  margin-bottom: 0.5333333333rem;
}
.campus .c-cont .c-r .sign-in .people {
  line-height: 0.4rem;
  color: #666666;
  text-align: center;
}
.campus .c-cont .c-r .sign-in .people span {
  color: #ff7336;
}

.copyright {
  height: 2.4133333333rem;
  padding-top: 0.4rem;
  text-align: center;
}
.copyright p {
  color: #888888;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  z-index: 200;
  width: 10rem;
  height: 1.3066666667rem;
}
.footer-fixed a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background: #3489e7;
  color: #fff;
}
.footer-fixed a img {
  height: 0.32rem;
  margin-bottom: 0.1333333333rem;
}
.footer-fixed a:nth-of-type(1) {
  background: #ff7336;
}
.footer-fixed a:nth-of-type(3) {
  background: #4598f4;
}

.fixed-site {
  width: 100%;
  height: 1.3066666667rem;
}

/*# sourceMappingURL=index.css.map */
