input,
textarea {
  font-family: "Microsoft YaHei";
  border: 0;
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
}
input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999999;
    font-size: inherit;
  }
}
body,
div,
form,
ul,
li,
a {
  box-sizing: border-box;
}
$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$padding: pr(24px);
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，居中
.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
p {
  line-height: 1.5;
}
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
$active-color: #2c7fdc;
a {
  &:hover {
    color: $active-color;
  }
}
.wrap {
  width: pr(750px);
  margin: 0 auto;
  font-size: pr(24px);
  color: #444444;
}

.header {
  height: pr(88px);
  padding: 0 $padding;
  @extend .space-between;
  .h-l {
    .logo {
      width: pr(169px);
      height: pr(54px);
    }
  }
  .h-r {
    display: flex;
    line-height: pr(32px);
    .txt {
      padding-left: pr(44px);
      color: #666666;
      background: url(../images/tel.png) no-repeat;
      background-size: auto 100%;
    }
    .num {
      font-size: pr(30px);
      color: #ff7336;
    }
  }
}

.btn {
  display: block;
  width: pr(428px);
  height: pr(68px);
  margin: 0 auto;
  line-height: pr(68px);
  background-image: linear-gradient(135deg, #ffac0c 0%, #ff7336 100%), linear-gradient(#4c9bf5, #4c9bf5);
  background-blend-mode: normal, normal;
  box-shadow: 0px pr(4px) pr(8px) 0px rgba(240, 86, 48, 0.34);
  border-radius: pr(30px);
  font-size: pr(28px);
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.banner {
  .a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sign-in {
  input {
    width: 100%;
    height: pr(64px);
    margin-bottom: pr(30px);
    font-size: pr(26px);
    line-height: pr(64px);
    border-radius: pr(4px);
    border: solid 1px #ededed;
    text-align: center;
    text-indent: 0;
  }
  .btn {
    border: 0;
    font-size: pr(28px);
  }
  .hint {
    background: url(../images/line.png) center;
    background-repeat: repeat-x;
    text-align: center;
    span {
      background: #fff;
      padding: 0 pr(20px);
      color: #999999;
    }
  }
}

.get {
  position: relative;
  height: pr(506px);
  .sign-in {
    position: absolute;
    top: pr(-64px);
    left: 0;
    right: 0;
    margin: auto;
    width: pr(702px);
    height: 100%;
    padding: 0 pr(40px);
    box-shadow: 0px pr(6px) pr(27px) 0px rgba(169, 169, 169, 0.15);
    text-align: center;
    background: url(../images/bg_1.png) no-repeat;
    background-size: 100% auto;
    .b-free {
      font-size: pr(26px);
      line-height: pr(72px);
      color: #ee5310;
    }
    .b-title {
      padding: pr(28px) 0 pr(30px);
      font-size: pr(36px);
      line-height: pr(36px);
      font-weight: bold;
    }
  }
}

.title {
  font-size: pr(46px);
  line-height: pr(48px);
  font-weight: bold;
  text-align: center;
  span {
    @extend %in-b;
    padding: 0 21px 0 52px;
    background: url(../images/t-l.png) no-repeat left top, url(../images/t-r.png) no-repeat right bottom;
  }
  strong {
    color: $active-color;
  }
}

.subtitle {
  padding-top: pr(14px);
  margin-bottom: pr(40px);
  color: #666666;
  text-align: center;
}

.authority {
  padding: pr(50px) $padding;
  .a-cont {
    padding: pr(30px);
    border: solid pr(4px) #cce4ff;
  }
  ul {
    padding-bottom: 17px;
  }
  li {
    margin-bottom: pr(30px);
    font-size: pr(26px);
    .select {
      // display: flex;
      height: pr(50px);
      margin-top: pr(28px);
      line-height: pr(50px);
      span {
        @extend %in-b;
        width: pr(121px);
        height: 100%;
        margin-right: pr(30px);
        background-color: #f5f5f5;
        border-radius: pr(25px);
        text-align: center;
        cursor: pointer;
        &.on {
          background: $active-color;
          color: #fff;
        }
      }
    }
  }
  .hint {
    line-height: pr(36px);
    color: #888888;
    text-align: center;
    span {
      color: #ff7336;
    }
  }
}

.gain {
  padding: pr(40px) 0;
  background: url(../images/bg_2.png) no-repeat;
  background-size: 100% auto;
  .g-cont {
    display: flex;
    justify-content: flex-end;
  }
  li {
    padding: 0 pr(10px) 0 $padding;
    height: pr(62px);
    margin-bottom: pr(20px);
    font-size: pr(22px);
    line-height: pr(62px);
    background-color: #ffffff;
    box-shadow: 0px pr(4px) pr(8px) 0px rgba(44, 127, 220, 0.05), inset 0px 0px 8px 0px rgba(241, 248, 255, 0.66);
    border-radius: pr(6px);
    color: #666666;
    i {
      @extend %in-b;
      width: pr(28px);
      height: pr(28px);
      margin-right: pr(22px);
      background: url(../images/icon_1.png) no-repeat left;
      background-size: 100% 100%;
      border-radius: 50%;
      box-shadow: 0px pr(4px) pr(8px) 0px rgba(44, 127, 220, 0.34);
      vertical-align: text-top;
    }
    span {
      font-size: pr(26px);
      font-weight: bold;
      color: $active-color;
    }
    &:nth-of-type(2n + 1) {
      margin-right: pr(40px);
    }
    &:nth-of-type(2n) {
      margin: 0 pr(10px) pr(20px) pr(30px);
    }
  }
}

.course {
  padding: pr(60px) $padding;
  ul {
    @extend .space-between;
    padding-top: pr(40px);
  }
  li {
    width: pr(336px);
    height: pr(368px);
    margin-bottom: pr(30px);
    text-align: center;
    img {
      border-radius: pr(6px) pr(6px) 0px 0px;
    }
    .c-name {
      font-size: pr(28px);
      line-height: pr(58px);
      font-weight: bold;
    }
    p {
      padding: 0 pr(20px);
      color: #888888;
    }
  }
}

.advantage {
  padding: pr(40px) $padding;
  background-color: #f1f8ff;
  .swiper-container {
    padding-bottom: pr(54px);
    .swiper-pagination {
      bottom: 0;
    }
    .swiper-pagination-bullet {
      border: solid 1px #4c9bf5;
      background-color: #ffffff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $active-color;
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: pr(54px);
      height: pr(54px);
    }
    .swiper-button-prev{
      left: 0;
      background: url(../images/prev.png);
      background-size: 100% 100%;
    }
    .swiper-button-next{
      right: 0;
      background: url(../images/next.png);
      background-size: 100% 100%;
    }
  }
  .swiper-slide {
    width: pr(336px);
    background-color: #ffffff;
    border-radius: pr(6px) pr(6px) 0px 0px;
  }
  .c-logo {
    width: 100%;
    height: pr(140px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .c-detail {
    height: pr(370px);
    padding: pr(16px) pr(20px) pr(22px);
    background: $active-color;
    border-radius: 0px 0px pr(6px) pr(6px);
    .d-name {
      margin-bottom: pr(20px);
      font-size: pr(28px);
      line-height: pr(28px);
      color: #ffffff;
      text-align: center;
    }
    p {
      font-size: pr(22px);
      color: #bcd9fa;
      text-align: justify;
    }
  }
}

.vs {
  padding: pr(50px) pr(20px);
  .vs-cont {
    @extend .space-between;
    margin-bottom: pr(40px);
    .cont-col {
      .col-top {
        margin-bottom: pr(60px);
        font-size: pr(36px);
        line-height: pr(39px);
        font-weight: bold;
        color: #666666;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-between;
        height: pr(694px);
      }
      li {
        position: relative;
        width: pr(304px);
        padding: pr(15px) pr(4px);
        margin: pr(10px) 0;
        line-height: pr(28px);
        background-color: #f6f6f6;
        border-radius: pr(6px);
        font-size: pr(20px);
        color: #666666;
        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          content: "";
          width: 0;
          height: 0;
          border-top: pr(8px) solid transparent;
          border-bottom: pr(8px) solid transparent;
        }
        &.long {
          font-size: pr(18px);
          line-height: pr(24px);
        }
      }
      &:nth-of-type(1) {
        .col-top {
          color: $active-color;
          text-align: right;
        }
        li {
          flex: 1;
          background-color: #e6f2ff;
          &::before {
            right: -8px;
            border-left: 8px solid #e6f2ff;
          }
        }
      }
      &:nth-of-type(2) {
        width: pr(76px);
        margin: 0 pr(10px);
        ul {
          justify-content: space-around;
        }
        li {
          width: 100%;
          height: pr(76px);
          line-height: pr(76px);
          padding: 0;
          font-size: pr(24px);
          background-image: linear-gradient(135deg, #65abfa 0%, #2c7fdc 100%), linear-gradient(#ededed, #ededed);
          background-blend-mode: normal, normal;
          box-shadow: 0px pr(5px) pr(10px) 0px rgba(44, 127, 220, 0.17);
          border-radius: 50%;
          color: #ffffff;
          text-align: center;
          &::before {
            display: none;
          }
        }
      }
      &:nth-of-type(3) {
        li {
          &::before {
            left: pr(-8px);
            border-right: pr(8px) solid #f6f6f6;
          }
        }
      }
    }
  }
}

.campus {
  // display: none;
  padding: pr(40px) $padding pr(50px);
  background-color: #f1f8ff;
  .c-cont {
    padding-top: pr(52px);
    .c-l {
      border-radius: pr(10px);
    }
    .c-r {
      padding: 0 pr(20px) pr(20px);
      background: url(../images/bg_3.png);
      background-size: 100% 100%;
      .r-name {
        padding: pr(30px) 0;
        font-size: pr(36px);
        line-height: pr(36px);
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        i {
          @extend %in-b;
          width: pr(39px);
          height: pr(24px);
          margin: 0 pr(6px);
          background: url(../images/l_1.png);
          background-size: 100% 100%;
          &:nth-of-type(2) {
            background: url(../images/r_1.png);
            background-size: 100% 100%;
          }
        }
      }
      .sign-in {
        padding: pr(30px);
        font-size: pr(26px);
        background-color: #ffffff;
        box-shadow: inset 0px 0px pr(10px) 0px rgba(44, 127, 220, 0.27);
        border-radius: pr(10px);
        select,
        input {
          height: pr(70px);
          margin-bottom: pr(30px);
          line-height: pr(70px);
          background-color: #ffffff;
          border-radius: pr(4px);
          border: solid 1px #ededed;
          text-align: center;
        }
        select {
          float: left;
          width: pr(290px);
          padding: 0 1em;
          background: url(../images/sel.png) no-repeat 80%;
          &:nth-of-type(2) {
            float: right;
          }
        }
        input {
          width: 100%;
        }
        .btn {
          border: 0;
          margin-bottom: pr(40px);
        }
        .people {
          line-height: pr(30px);
          color: #666666;
          text-align: center;
          span {
            color: #ff7336;
          }
        }
      }
    }
  }
}

.copyright {
  height: pr(181px);
  padding-top: pr(30px);
  text-align: center;
  p {
    color: #888888;
  }
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  z-index: 200;
  @extend .space-between;
  width: pr(750px);
  height: pr(98px);
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background: #3489e7;
    color: #fff;
    img {
      height: pr(24px);
      margin-bottom: pr(10px);
    }
    &:nth-of-type(1) {
      background: #ff7336;
    }
    &:nth-of-type(3) {
      background: #4598f4;
    }
  }
}

.fixed-site {
  width: 100%;
  height: pr(98px);
}
